
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('background.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
}

p{
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

form {
  text-align: center;
}

button {
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  background-color: bisque;
}

input {
  border-radius: 10px;
  padding: 5px;

}
